body {
  background: rgba(22, 12, 12, 0.1);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.container {
  background-color: rgba(255, 255, 255, 0.701);
  margin: 10px auto;
}

.header, .box-shaded {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.header-crypto, .box-shaded-crypto {
  text-align: center;
  color: #0636f8;
}

.header-crypto-crypto_subheader, .box-shaded-crypto-crypto_subheader {
  text-align: right;
}

.header-crypto {
  color: rgba(18, 18, 145, 0.9);
}

.btn {
  margin: 10px;
  color: rgba(18, 18, 145, 0.9);
  border-color: rgba(18, 18, 145, 0.9);
}

.logo-img {
  width: 93%;
}

.checkbox-slider--b-flat {
  margin: 5px;
  position: relative;
}

.checkbox-slider--b-flat input {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0%;
  margin: 0 0;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.checkbox-slider--b-flat input + span {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-left: 40px;
  padding-left: 40px;
}

.checkbox-slider--b-flat input + span:before {
  position: absolute;
  left: 0px;
  display: inline-block;
  content: "";
  height: 20px;
  width: 40px;
  background: rgba(100, 100, 100, 0.2);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
  border-radius: 20px;
  width: 40px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.checkbox-slider--b-flat input + span > h4 {
  display: inline;
}

.checkbox-slider--b-flat input + span:after {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0px;
  top: 0;
  display: block;
  background: #ffffff;
  -webkit-transition: margin-left 0.1s ease-in-out;
  transition: margin-left 0.1s ease-in-out;
  text-align: center;
  font-weight: bold;
  content: "";
  background: #ffffff;
  content: "";
  width: 20px;
  border: solid transparent 2px;
  background-clip: padding-box;
  border-radius: 20px;
}

.checkbox-slider--b-flat input:checked + span:after {
  margin-left: 20px;
  content: "";
  content: "";
  margin-left: 20px;
  border: solid transparent 2px;
  background-clip: padding-box;
  -webkit-animation: popIn ease-in 0.3s normal;
  animation: popIn ease-in 0.3s normal;
}

.checkbox-slider--b-flat input:checked + span:before {
  -webkit-transition: background 0.2s ease-in;
  transition: background 0.2s ease-in;
  background: rgba(18, 18, 145, 0.9);
}

.checkbox-slider--b-flat input:not(:checked) + span:after {
  -webkit-animation: popOut ease-in 0.3s normal;
  animation: popOut ease-in 0.3s normal;
}

.checkbox-slider--b-flat.checkbox-slider-md input + span:before {
  border-radius: 30px;
}

.checkbox-slider--b-flat.checkbox-slider-md input + span:after {
  border-radius: 30px;
}

.checkbox-slider--b-flat.checkbox-slider-lg input + span:before {
  border-radius: 40px;
}

.checkbox-slider--b-flat.checkbox-slider-lg input + span:after {
  border-radius: 40px;
}

.checkbox-slider-md {
  line-height: 30px;
}

.checkbox-slider-md input + span {
  padding-left: 60px;
}

.checkbox-slider-md input + span:before {
  width: 60px;
}

.checkbox-slider-md input + span:after {
  width: 30px;
  vertical-align: middle;
}

.checkbox-slider-md input:checked + span:after {
  margin-left: 30px;
}

.checkbox-slider-md input + span:after,
.checkbox-slider-md input + span:before {
  height: 30px;
  line-height: 30px;
}

.parallax {
  -webkit-perspective: 1px;
          perspective: 1px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}

.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2);
          transform: translateZ(-1px) scale(2);
}

.parallax__group {
  position: relative;
  height: 150vh;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */